// font //
$ff-main: 'Red Hat Display', sans-serif;

// font size//
$fs-main: 2.3rem;
$fs-sub: 1.3rem;

// font weight//
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;
// color //
$color-main: hsl(223, 47%, 23%);
$color-sub: hsl(224, 23%, 55%);
$color-btn: hsl(245, 75%, 52%);
$color-hover : hsl(245, 83%, 68%);
$color-bg: hsl(225, 100%, 94%);
$color-bg_2: hsl(225, 100%, 98%);
$color-bg-card: hsl(0, 0%, 100%);


